.div1 {
  min-height:85vh;
  width:100%;
  background-image: url(../photos/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 50%;
  color:white;
  padding:0 0 30px;
}
#prijavi {
  color:white;
  font-size:1em;
}
.tekst {
  background-color: rgba(0,0,0,0.05);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding:20px;
  margin-top: 120px;
  border-radius: 4px;
}
@media only screen and (max-width: 600px) {
  .tekst {
    margin-top: 30px !important;
  }
}
.btn_modal{
  margin:25px auto 0;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  font-size: 1em;
}
.form-outline {
  border:1px solid #bdbdbd !important;
  border-radius: 3px;
}

label {
  background-color: white !important;
  padding-left:4px;
  padding-right:4px;
}
#status, #login_status {
  margin-bottom:0 !important;
}
.charts h1{
  margin:20px;
}
.charts {
  border-radius: 5px;
  padding:0;
}
.charts div {
  margin:10px auto;
}
.linkovi div {
  margin-bottom:10px!important;
}
