*{
    color:#403e3e;
}
.levo{
    margin:20px  1.388% 10px 2.777%;
    background-color: white;
    -webkit-box-shadow: 0px 3px 7px -7px #000000, 2px -3px 13px 3px rgba(0,0,0,0);
    box-shadow: 0px 3px 7px -7px #000000, 2px -3px 13px 3px rgba(0,0,0,0);
}
.desno{
    margin:20px 2.777% 10px 1.388%;
    background-color: white;
    -webkit-box-shadow: 0px 3px 7px -7px #000000, 2px -3px 13px 3px rgba(0,0,0,0);
    box-shadow: 0px 3px 7px -7px #000000, 2px -3px 13px 3px rgba(0,0,0,0);
}
.levo img{
    width:95%;
    margin:5px 2.5% 15px;
    border-radius: 2px;
}
.levo p {
    margin-left:20px;
}
.levo i {
    margin-right:5px;
    width:20px;
    color:black;
}
code{
    background-color: black;
    color:white;
    padding:3px;
    margin:2px;
    border-radius: 2px;
}
.links-social {
    font-size:20px;
}
.links-social i{
    color:#204e8d !important;
}
.links-social i:hover{
    color:#8b49ae !important;
}
h2 {
    margin:10px 4.166%
}
.work{
    margin:20px 4.166%;

}
h5 i, h6 i, p i{
    color:black;
    margin-right:10px;
}
h6{
    color:#1d9a0c;
}
@media only screen and (max-width:970px){
    .col-7 {
        width:50%;
    }
    .col-4{
        width:41.66%;
    }
}
@media only screen and (max-width:700px){
    .col-7, .col-4{
        width:95%;
        margin:20px 2.5%;
    }
}
@media only screen and (max-width:350px){
    .levo, .desno {
        font-size:.9em;
    }
}